<section class="bg-primary-200 pt-6 pb-6 text-center mt-6 mt-md-12">
  <div class="d-flex justify-content-center align-items-center">
    <h4 class="me-md-6 me-4 fw-bold fs-lg">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn btn-sm btn-neutral fw-medium">
      馬上註冊
    </button>
  </div>
</section>
