<footer class="pt-md-16 pt-8 pb-8 pb-md-16 bg-neutral-100">
  <section class="container">
    <div class="d-flex flex-column flex-md-row mb-6">
      <div class="mb-2 mb-md-0">
        <a href="./index.html"
          ><img src="../assets/images/logo.svg" alt="logo"
        /></a>
      </div>
      <ul
        class="d-flex align-items-md-center flex-col ps-3 pe-3 flex-column gap-1 flex-md-row ms-md-auto"
      >
        <li class="ms-md-auto pt-3 pb-3">
          <a href="../pages/product-list.html" class="fw-medium link-decorate"
            >商品列表</a
          >
        </li>
        <li class="ms-md-10 pt-3 pb-3">
          <a href="#" class="fw-medium link-decorate">品牌故事</a>
        </li>
      </ul>
    </div>
    <div class="text-center pt-md-8 pt-6 border-top">
      <p class="text-secondary mb-1">Copyright ©2025 URBNSTYLE</p>
      <p class="text-secondary">All Rights Reserved.</p>
    </div>
  </section>
</footer>
