<header>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center pb-md-4 pt-md-4">
      <div class="order-first pt-3 pb-4 pt-md-0 pb-md-0">
        <a href="./index.html"
          ><img src="../assets/images/logo.svg" alt="logo"
        /></a>
      </div>
      <div class="ms-auto order-1 order-md-last">
        <a href="../pages/login.html" class="p-3"
          ><i class="bi bi-person icon"></i
        ></a>
      </div>

      <nav class="order-2 w-full w-md-auto ms-md-12">
        <ul class="d-flex align-items-center mx-negative-3 ms-md-0 me-md-0">
          <li class="w-full text-center me-md-10">
            <a
              href="../pages/product-list.html"
              class="fw-medium link-decorate bg-primary-200 pt-3 pb-3 bg-neutral-md-0"
              >商品列表</a
            >
          </li>
          <li class="w-full text-center">
            <a
              href="../pages/story.html"
              class="fw-medium link-decorate bg-primary-100 pt-3 pb-3 bg-neutral-md-0"
              >品牌故事</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
