@use "../utils/index" as *;
.img {
  &-product-detail {
    width: calc(50% - 16px);
  }
  @include respond-to(md) {
    &-product-detail {
      max-width: 369px;
    }
  }

  &-color-select {
    width: 64px;
  }
}

.like-product {
  width: 300px;
  @include respond-to(md) {
    width: 100%;
  }
}

.btn-pointer {
  cursor: pointer;
}
