<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body data-page="collect">
    <%- include('./layout/header'); -%>
    <main class="container">
      <div class="row-md">
        <div class="col-md-6 ms-md-auto me-md-auto">
          <div class="pt-6 pb-6 pt-md-16 pb-md-16">
            <div
              class="d-flex align-items-center mb-6 mb-md-8 justify-content-center"
            >
              <i
                class="bi fs-md-4xl bi-check-circle-fill me-2 me-md-4 fs-3xl text-highlight"
              ></i>
              <h4
                class="fw-bold lh-tight fs-xl text-center fs-md-2xl montserrat"
              >
                我的收藏
              </h4>
            </div>
            <div
              class="bg-highlight d-flex p-4 mb-6 text-highlight align-items-center bg-primary-100 mb-md-8"
            >
              <i class="bi fs-xl bi-truck"></i>
              <div class="d-md-flex ms-3">
                <p>門市營業時間：</p>
                <p>週一至週五 10:00 - 22:00</p>
              </div>
            </div>
            <ul class="mb-6 mb-md-8">
              <li class="mb-6 mb-md-8 pb-8 d-flex border-bottom-style">
                <img
                  src="../assets/images/product.png"
                  alt="img"
                  class="cart-img"
                />
                <div class="ms-4 w-full">
                  <h6 class="mb-2 fw-bold fs-md lh-tight fs-md-lg">
                    PLATFORM 404
                  </h6>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      尺寸
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">38</p>
                  </div>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      顏色
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">Navy</p>
                  </div>
                  <div class="d-md-flex">
                    <h6 class="fs-md ms-md-auto fw-bold montserrat">
                      NT$2,600
                    </h6>
                  </div>
                </div>
              </li>
              <li class="mb-6 d-flex mb-md-8 pb-8 border-bottom-style">
                <img
                  src="../assets/images/product-4.png"
                  alt="img"
                  class="cart-img"
                />
                <div class="ms-4 w-full">
                  <h6 class="mb-2 fw-bold fs-md fs-md-lg lh-tight">BOOMLOK</h6>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      尺寸
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">38</p>
                  </div>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      顏色
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">White</p>
                  </div>
                  <div class="d-md-flex">
                    <h6 class="fs-md ms-md-auto fw-bold montserrat">
                      NT$3,200
                    </h6>
                  </div>
                </div>
              </li>
              <li class="pb-8 d-flex border-bottom-style">
                <img
                  src="../assets/images/product-3.png"
                  alt="img"
                  class="cart-img"
                />
                <div class="ms-4 w-full">
                  <h6 class="mb-2 fw-bold fs-md fs-md-lg lh-tight">
                    MELTY KISS
                  </h6>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      尺寸
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">38</p>
                  </div>
                  <div class="d-flex mb-2">
                    <p class="fs-sm fs-md-md me-2 me-md-3 text-secondary">
                      顏色
                    </p>
                    <p class="fs-sm fs-md-md fw-medium montserrat">Violet</p>
                  </div>
                  <div class="d-md-flex">
                    <h6 class="fs-md ms-md-auto montserrat fw-bold">
                      NT$4,000
                    </h6>
                  </div>
                </div>
              </li>
            </ul>
            <div>
              <button class="btn btn-neutral btn-lg ms-auto me-auto">
                立即預約門市試穿
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</html>
