<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body data-page="index">
    <%- include('./layout/header'); -%>
    <div class="banner">
      <h1 class="fs-5xl text-on-dark mb-1 mb-md-4 fw-bold fs-md-7xl">
        URBNSTEP
      </h1>
      <h5 class="fs-lg text-on-dark mb-8 mb-md-12 fw-bold fs-md-2xl">
        Your Step, Your Statement
      </h5>
      <button class="btn btn-primary btn-lg">立即選購</button>
    </div>

    <main>
      <div class="container">
        <div class="pb-10 pt-10 pt-md-16 pb-md-16">
          <h2 class="fs-3xl mb-2 text-center fw-bold fs-md-5xl mb-md-3">
            New Arrival
          </h2>
          <h4 class="fs-xl text-center fw-bold fs-md-3xl">新品上市</h4>
          <ul class="row mt-6 mt-md-8 flex-wrap gap-y-6">
            <li class="col-6">
              <div class="card">
                <img
                  src="../assets/images/new-1.png"
                  alt="new"
                  class="mb-2 mb-md-3"
                />
                <h6 class="fw-bold fs-md fs-md-lg mb-md-1">Monoverse</h6>
                <p class="fw-medium fs-md">NT$2,600</p>
              </div>
            </li>
            <li class="col-6">
              <div class="card">
                <img
                  src="../assets/images/new-2.png"
                  alt="new"
                  class="mb-2 mb-md-3"
                />
                <h6 class="fw-bold fs-md fs-md-lg mb-md-1">PLATFORM 404</h6>
                <p class="fw-medium fs-md">NT$2,600</p>
              </div>
            </li>
            <li class="col-6">
              <div class="card">
                <img
                  src="../assets/images/new-3.png"
                  alt="new"
                  class="mb-2 mb-md-3"
                />
                <h6 class="fw-bold fs-md fs-md-lg mb-md-1">URBN Force</h6>
                <p class="fw-medium fs-md">NT$3,200</p>
              </div>
            </li>
            <li class="col-6">
              <div class="card">
                <img
                  src="../assets/images/new-4.png"
                  alt="new"
                  class="mb-2 mb-md-3"
                />
                <h6 class="fw-bold fs-md fs-md-lg mb-md-1">Mode90</h6>
                <p class="fw-medium fs-md">NT$4,000</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="pt-10 pb-10 pt-md-16 pb-md-16">
          <h4 class="mb-2 fw-bold fs-xl mb-md-4 fs-md-3xl mb-md-4">熱銷補貨</h4>
          <div class="scrollbar-x">
            <div class="row-md d-flex">
              <div class="col-md-3 me-4 me-md-0">
                <div class="hot-product">
                  <img src="../assets/images/product-3.png" alt="" />
                </div>
              </div>

              <div class="col-md-3 me-4 me-md-0">
                <div class="hot-product">
                  <img src="../assets/images/product.png" alt="" />
                </div>
              </div>
              <div class="col-md-3 me-4 me-md-0">
                <div class="hot-product">
                  <img src="../assets/images/product-6.png" alt="" />
                </div>
              </div>
              <div class="col-md-3 me-4 me-md-0">
                <div class="hot-product">
                  <img src="../assets/images/product-9.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-6 pb-6 pt-md-12 pb-md-12">
        <div class="sale-banner">
          <div
            class="sale-banner-content d-flex flex-column align-items-center"
          >
            <div class="d-md-flex justify-content-center align-items-center">
              <h2 class="text-on-dark fw-bold fs-3xl fs-md-5xl">URBNSTEP</h2>
              <h3
                class="fw-bold fs-2xl text-highlight fs-md-4xl mt-2 mt-md-0 ms-md-6 me-md-6 text-center"
              >
                x
              </h3>
              <h2 class="text-on-dark fw-bold fs-3xl mt-md-0 mt-2 fs-md-5xl">
                Kevin Chen
              </h2>
            </div>
            <h5 class="text-on-dark fw-bold fs-lg mt-4 fs-md-3xl">
              跨界聯名，限量發售
            </h5>
            <div
              class="mt-6 mt-md-8 d-md-flex justify-content-center align-items-center"
            >
              <p class="text-muted fw-normal comma-md-decorate fs-md-lg">
                新銳漫畫家 Kevin Chen 親自操刀設計
              </p>
              <p class="text-muted fw-normal mt-1 fs-md-lg">
                街頭能量全面引爆！
              </p>
            </div>
            <button
              class="btn btn-primary btn-lg ms-auto me-auto mt-8 mt-md-12"
            >
              立即搶購
            </button>
          </div>
        </div>
      </div>
      <div class="pt-10 pb-10 pt-md-16 pb-md-16">
        <div class="container">
          <h4 class="fw-bold fs-xl mb-4">依系列選購</h4>
          <ul class="row flex-wrap gap-y-3">
            <li class="col-6 col-md-3">
              <div class="card-cover">
                <img src="../assets/images/product-6.png" alt="" />
                <div class="card-cover-content">
                  <p class="fw-bold text-on-dark fs-md mt-2">URBN RUNNER</p>
                  <p class="fw-bold text-on-dark fs-md">慢跑系列</p>
                </div>
              </div>
            </li>
            <li class="col-6 col-md-3">
              <div class="card-cover">
                <img src="../assets/images/product-11.png" alt="" />
                <div class="card-cover-content">
                  <p class="fw-bold text-on-dark fs-md mt-2">STREETMODE</p>
                  <p class="fw-bold text-on-dark fs-md">滑板系列</p>
                </div>
              </div>
            </li>
            <li class="col-6 col-md-3">
              <div class="card-cover">
                <img src="../assets/images/product-9.png" alt="" />
                <div class="card-cover-content">
                  <p class="fw-bold text-on-dark fs-md mt-2">CHUNK DISTRICT</p>
                  <p class="fw-bold text-on-dark fs-md">厚底系列</p>
                </div>
              </div>
            </li>
            <li class="col-6 col-md-3">
              <div class="card-cover">
                <img src="../assets/images/product-10.png" alt="" />
                <div class="card-cover-content">
                  <p class="fw-bold text-on-dark fs-md mt-2">COLLAB ZONE</p>
                  <p class="fw-bold text-on-dark fs-md">聯名企劃</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="pt-10 pb-10 pt-md-16 pb-md-16">
        <div class="container">
          <h4 class="fw-bold fs-xl mb-4">穿搭靈感</h4>
        </div>
        <div class="scrollbar-x">
          <div class="container">
            <div class="inspir-box">
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-1.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-2.png"
                  alt="inspiration"
                />
              </div>

              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-4.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-5.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product inspir-large-5">
                <img
                  src="../assets/images/inspiration-10.png"
                  alt="inspiration"
                />
              </div>

              <div class="inspir-product inspir-large-1">
                <img
                  src="../assets/images/inspiration-3.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-6.png"
                  alt="inspiration"
                />
              </div>

              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-7.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-8.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-9.png"
                  alt="inspiration"
                />
              </div>

              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-11.png"
                  alt="inspiration"
                />
              </div>
              <div class="inspir-product">
                <img
                  src="../assets/images/inspiration-12.png"
                  alt="inspiration"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/cta-banner'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
