<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); -%>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container pt-md-8 pb-md-8 pt-4 pb-4">
      <section class="mb-md-6 mb-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="./index.html" class="fw-medium fs-sm fs-md-md">首頁</a>
          </li>
          <li class="breadcrumb-item">
            <a href="./index.html" class="fw-medium fs-sm fs-md-md">女鞋</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="#" class="fw-medium">所有商品</a>
          </li>
        </ol>
      </section>
      <h3 class="mb-md-6 mb-3 pt-2 pb-2 fs-xl fw-bold">女鞋</h3>
      <section class="justify-content-between row">
        <nav class="col-md-2 d-none d-md-flex">
          <ul>
            <li class="pt-1 pb-1 nav-decorate mb-4 active">
              <a href="＃" class="pt-2 pb-2 fw-medium">所有商品</a>
            </li>
            <li class="pt-1 pb-1 nav-decorate mb-4">
              <a href="＃" class="pt-2 pb-2 fw-medium">慢跑鞋</a>
            </li>
            <li class="pt-1 pb-1 nav-decorate mb-4">
              <a href="＃" class="pt-2 pb-2 fw-medium">滑板鞋</a>
            </li>
            <li class="pt-1 pb-1 nav-decorate mb-4">
              <a href="＃" class="pt-2 pb-2 fw-medium">厚底鞋</a>
            </li>
            <li class="pt-1 pb-1 nav-decorate">
              <a href="＃" class="pt-2 pb-2 fw-medium">限定 / 聯名企劃</a>
            </li>
          </ul>
        </nav>
        <div class="col-md-10 col-12 d-flex align-items-center flex-column">
          <ul class="flex-wrap row gap-y-md-12 gap-y-6 mb-8 mb-md-12">
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">PLATFORM 404</h6>
                  <p class="fw-medium fs-md">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-1.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">PLATFORM 404</h6>
                  <p class="fw-medium fs-md">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-2.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">VM001</h6>
                  <p class="fw-medium fs-md">NT$2,600</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-3.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">Melty Kiss</h6>
                  <p class="fw-medium fs-md">NT$4,000</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-4.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">BOOMBLOK</h6>
                  <p class="fw-medium fs-md">NT$3,200</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-5.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">BOOMBLOK</h6>
                  <p class="fw-medium fs-md">NT$3,200</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-6.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">R:UNER</h6>
                  <p class="fw-medium fs-md">NT$4,000</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-7.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">Sugar Snap</h6>
                  <p class="fw-medium fs-md">NT$4,000</p>
                </div>
              </a>
            </li>
            <li class="col-md-4 col-6">
              <a href="./product-detail.html">
                <div class="card">
                  <img
                    class="mb-2 mb-md-3"
                    src="../assets/images/product-8.png"
                    alt=""
                  />
                  <h6 class="fw-bold fs-md mb-md-1">Neofoam</h6>
                  <p class="fw-medium fs-md">NT$4,000</p>
                </div>
              </a>
            </li>
          </ul>
          <div>
            <ol class="pagination">
              <li class="pagination-item me-3">
                <a class="text-highlight" href="#"
                  ><img src="../assets/images/chevron-left.svg" alt=""
                /></a>
              </li>
              <li class="pagination-item ms-2">
                <a href="#" class="bg-primary-300">1</a>
              </li>
              <li class="pagination-item ms-2"><a href="#">2</a></li>
              <li class="pagination-item ms-2"><a href="#">3</a></li>
              <li class="pagination-item ms-2"><a href="#">...</a></li>
              <li class="pagination-item"><a href="#">10</a></li>
              <li class="pagination-item ms-3">
                <a href="#"
                  ><img src="../assets/images/chevron-right.svg" alt=""
                /></a>
              </li>
            </ol>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/cta-banner'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
